
html {
  background-color: #1d1d1d;
}
body {

}
#pagina{
    position: relative;
    width: 70%;
    left: -30px;
    margin: 0 auto;
}
p {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #1d1d1d;
    font-size: 14px;
}
#ass {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #1d1d1d;
    font-size: 10px;
    text-align: right;
}
table {
    border-collapse: collapse;
}
table{
    width: 100%;
}
th, td {
    border: 4px solid #363535;
    text-align: center;
    vertical-align: center;
    background-color:gray;
}
td {
    width: 150px;
    height: 150px;
    vertical-align: center;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #e0dcdc;
}
a:hover {text-decoration: darkblue;
    color:#363535;
}
input, textarea {
    width: 80%;
    height: 40px;
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 300px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
    text-align: center;
    text-valign: center;
    background-color: #e0dcdc;
}
#cor_profissional{
    width: 100%;
    height: 100%;
}
#cor_profissional:hover{
    background-color: #e0dcdc;
}
#tit_profissional{
    position: relative;
    top: 30px;
}
#cor_interno{
    width: 100%;
    height: 100%;
}
#cor_interno:hover{
    background-color: #e0dcdc;
}
#tit_interno{
    position: relative;
    top: 30px;
}
#cor_pessoal{
    width: 100%;
    height: 100%;
}
#cor_pessoal:hover{
    background-color: #e0dcdc;
}
#tit_pessoal{
    position: relative;
    top: 30px;
}
#cor_estudo{
    width: 100%;
    height: 100%;
}
#cor_estudo:hover{
    background-color: #e0dcdc;
}
#tit_estudo{
    position: relative;
    top: 30px;
}
#topo{
    position: fixed;
    width: 70%;
    margin: 0 auto;
    background-color: #e0dcdc;
    padding: 0 20px 20px 20px;
    border: 5px solid #1d1d1d;
    border-radius: 30px;
    color: #1d1d1d;
    z-index: 3;
}
#topo_preto{
    position: fixed;
    top: -20px;
    height: 80px;
    width: 100%;
    background-color: #1d1d1d;
    z-index: 2;
}
#conteudo{
    position: absolute;
    width: 100%;
    top: 340px;
    margin: 0 auto;
    background-color: #e0dcdc;
    padding: 0 30px 20px 20px;
    border: 5px solid #1d1d1d;
    border-radius: 30px;
    color: #1d1d1d;
    z-index: 1;
}
#rel{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #1d1d1d;
    font-size: 40px;
}