
html {
  background-color: #1d1d1d;
}
body {
    width: 60%;
    margin: 0 auto;
    background-color: #e0dcdc;
    padding: 0 20px 20px 20px;
    border: 5px solid #1d1d1d;
    border-radius: 30px;
    color: #1d1d1d;
}
p {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #1d1d1d;
}
table {
    border-collapse: collapse;
}
table{
    width: 100%;
}
th, td {
    border: 4px solid #363535;
    width: 166px;
    height: 166px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    background-color:gray;
    margin-right: -4px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #e0dcdc;
}
a:hover {text-decoration: darkblue;
    color:#363535;
}
input, textarea {
    width: 80%;
    height: 40px;
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 300px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
    text-align: center;
    text-valign: center;
    background-color: #e0dcdc;
}
